.article {
    background-color: white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 900px;
    margin: 60px auto;
    box-shadow: 2px 2px 8px rgb(135, 135, 119);
}

.article--blueBackground {
    background-color: hsl(196, 42%, 81%);
}

.article--redBackground {
    background-color: rgb(233, 220, 220);
}

.article__header {
    font-size: 18px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 0px;
    background-color: rgb(133, 178, 199);
}

.article__header--red {
    background-color: rgb(234, 197, 197);
}

.article__paragraph {
    padding: 10px;
}

.article__foreignWord {
    color: #1c64ab;
    font-weight: 700;
}

.article__foreignWord--red {
    color: #993d1c;
    font-weight: 700;
}

.article__image {
    padding-top: 16px;
}

.article__imageCaption {
    margin-top: 0px;
    font-style: italic;
}

.article__tableContainer {
    overflow-x: auto;
    padding: 40px;
    padding-bottom: 15px;
}

.article__imagesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}