.article {
    background-color: rgb(210, 204, 172);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 900px;
    margin: 60px auto;
    box-shadow: 2px 2px 8px rgb(135, 135, 119);
}

.article--blueBackground {
    background-color: hsl(198, 25%, 60%);
}

.article--redBackground {
    background-color: rgb(225, 185, 178);
}

.article__header {
        font-size: 18px;
        padding: 5px;
        margin-top: 10px;
        margin-bottom:  0px;
        border-radius: 10px;
        background-color:rgb(183, 176, 149);
        box-shadow: 2px 2px 8px rgb(135 135 119), inset 16px -15px 33px -5px #6693b7;
  }

.article__paragraph {
    padding: 10px;
}

.article__foreignWord {
    color: #1c64ab;
    font-weight: 700;
}

.article__foreignWord--red {
    color: #993d1c;
    font-weight: 700;
}

.article__image{
    padding-top: 16px;
}

.article__imageCaption {
    margin-top: 0px;
    font-style: italic;
}

.article__tableContainer {
    overflow-x: auto;
    padding: 40px;
    padding-bottom: 15px;
}

.article__imageContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}