.button {
    display: block;
    padding: 10px;
    margin: 20px auto;
    border-radius: 20px;
    background-color: rgb(133, 178, 199);
    box-shadow: 2px 2px 8px rgb(135, 135, 119);
    border: none;
    cursor: pointer;
    font-size: 14px;
  }

  .button--red {
    background-color: rgb(234, 197, 197); 
}

