.header__title {
    background-color: rgb(133, 178, 199);
    margin-top: 0px;
    margin-bottom: 0px;
    box-shadow: 2px 2px 8px rgb(135 135 119), inset 16px -15px 33px -5px #6693b7;
    padding: 10px;
    text-shadow: 1px 2px 5px rgb(191, 197, 208) ;
}

.header__title--red {
    background-color: rgb(234, 197, 197);
    box-shadow: 2px 2px 8px rgb(135 135 119), inset 16px -15px 33px -5px rgb(174, 128, 128);
}