.navigation__list {
    background-color: white;
    box-shadow: 2px 2px 8px rgb(135, 135, 119);
    margin-top: 0px;
    padding: 10px;
}

.navigation__item {
    display: inline-block;
    padding: 0 20px;
    font-weight: 700;
    list-style-type: none;
}

.navigation__link {
color: #0b529a;
text-decoration: none;
}

.navigation__link--red {
    color: darkred;
}

.navigation__link:focus {
    outline: 2px solid currentColor;
}                

.navigation__link:hover {
    color: #86a3c2;
    border-bottom: 1px solid;
    outline: none;
}

.navigation__link--red:hover {
    color: rgb(205, 143, 143);
}

.navigation__link:active {
    color:rgb(154, 187, 187);
}

.navigation__link--red:active {
    color:rgb(187, 159, 154);
}
