.table {
    border-collapse: collapse;
    width: 100%;
}

.table__caption {
    caption-side: bottom;
    text-align: right;
    font-weight: 700;
    margin-top: 10px;
    padding: 5px;
}

.table__row {
    background-color: white;
}

.table__row:nth-child(even) {
    background-color: hsl(0, 0%, 90%);
}

.table__row:hover {
    background: rgb(181, 176, 176);
}

.table__cell {
    border: 1px solid black;
    padding: 15px;
}

.table__cell--blueHeader {
    background-color: rgb(133, 178, 199);
}

.table__cell--redHeader {
    background-color: rgb(234, 197, 197);
}